[Interface]
PrivateKey = {{ local_secrets.wg_privkey }}
ListenPort = {{ node.wg.local_port }}

Address = {{ local.wg.peer_ll_ipv6 }}/64
Table = off

[Peer]
PublicKey = {{ node.wg.peer_pubkey }}
Endpoint = {{ node.underlay.hostname }}:{{ local.wg.local_port }}
AllowedIPs = ::/0, 0.0.0.0/0
