[Interface]
PrivateKey = {{ local_secrets.wg_privkey }}
ListenPort = {{ peer.wg.local_port }}

Address = {{ peer.wg.local_ll_ipv6 }}/64
Table = off

{% if peer.wg.peer.ipv4 %}
PostUp = ip addr add {{ local.dn42.ipv4 }} peer {{ peer.wg.peer.ipv4 }} dev %i
{% else %}
PostUp = ip addr add {{ local.dn42.ipv4 }}/32 dev %i
{% endif %}

[Peer]
PublicKey = {{ peer.wg.peer_pubkey }}
Endpoint = {{ peer.underlay.hostname }}:{{ peer.wg.peer_port }}
AllowedIPs = fe80::/64, fd00::/8, 172.20.0.0/14, 10.0.0.0/8, 172.31.0.0/16
