[Interface]
PrivateKey = {{ local_secrets.private_key }}
ListenPort = 4242
Address = {{ local.ipv6 }}/64, {{ local.ipv4 }}/32, 192.168.42.1/32

{% for downstream in local.downstreams %}
[Peer]
PublicKey = {{ downstream.pubkey }}
{% if not downstream.endpoint is none %}
Endpoint = {{ downstream.endpoint }}
{% endif %}
AllowedIPs = {{ downstream.ipv6 }}, {{ downstream.local_ipv4 }}
{% if not downstream.public_ipv4 is none %}
AllowedIPs = {{ downstream.public_ipv4 }}
{% endif %}
{% endfor %}
