{
	email noc@dayli.ly
	log {
		output file /var/log/caddy.log {
			roll_size 10mb
			roll_keep 5
			roll_keep_for 720h
		}
	}
}

(serve) {
	reverse_proxy :3000 {
		header_up X-Lilynet-Node {{ local.name }}
	}
}

localhost,
{{ local.name }}.daylily.network,
{{ local.name }}.net.dayli.ly {
	import serve
}

daylily.network,
net.dayli.ly {
	tls {
		dns cloudflare {{ global_secrets.cloudflare_api_token }}
		dns_challenge_override_domain _acme-challenge.net.dayli.ly
	}
	request_header X-Lilynet-Anycast Yes
	import serve
}
