# /etc/systemd/system/dummy-iface.service
[Unit]
Description=Set up dummy interfaces
Requires=network-online.target
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/dummy-iface.sh

[Install]
WantedBy=multi-user.target
