Nickname			lilynet{{ local.name }}
ContactInfo			noc@dayli.ly
ORPort				9001
ExitRelay			0
SocksPort			0
{% if local.clearnet.host.ipv4 %}
Address 			{{ local.clearnet.host.ipv4 }}
OutboundBindAddress	{{ local.clearnet.host.ipv4 }}
{% else %}
Address 			{{ local.underlay.ipv4 }}
OutboundBindAddress	{{ local.underlay.ipv4 }}
{% endif %}
Address				[{{ local.clearnet.host.ipv6 }}]
OutboundBindAddress	[{{ local.clearnet.host.ipv6 }}]
Log					notice file /var/log/tor/tor.log
