#!/bin/sh

{% macro dummy(iface, router) %}
if ip link show {{ iface }}; then
    ip link delete {{ iface }}
fi

ip link add {{ iface }} type dummy

{% if router.host.ipv6 %}
{# primary ipv6 #}
ip addr add {{ router.host.ipv6 }}/64 dev {{ iface }}

{# secondary ipv6s #}
{% for ip in router.ipv6s %}
ip addr add {{ ip }}/64 dev {{ iface }}
{% endfor %}
{% endif %}

{% if router.host.ipv4 %}
{# primary ipv4 #}
ip addr add {{ router.host.ipv4 }}/32 dev {{ iface }}

{# secondary ipv4s #}
{% for ip in router.ipv4s %}
ip addr add {{ ip }}/32 dev {{ iface }}
{% endfor %}
{% endif %}

ip link set {{ iface }} up
{% endmacro %}

{{ dummy("dummy0", local.clearnet) }}
{{ dummy("dummy42", local.dn42) }}
